# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [21]:
c = 'python'
c[::-1]

'nohtyp'

# 2. Define variables `apples` and `oranges` and using `format` method print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [35]:
apples = 7
oranges = 5
a = apples + oranges
'I have {0} apples and {1} oranges, therefore I have {2} fruits'.format(apples, oranges, a)

'I have 7 apples and 5 oranges, therefore I have 12 fruits'

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [41]:
a = ['a', 'b', 'c', 'd']
a.remove('d')
''.join(a)

'abc'

# 4. Get difference between two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [44]:
list_1 = set([1, 2, 3, 4, 8, 12])
list_2 = set([1, 4, 8, 2])
list_1.difference(list_2)

{3, 12}

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [ ]:
tuple_numbers = (4, 6, 2, 8, 3, 1)

# 6. Convert a tuple to a string
```python
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = 'python'
```

In [61]:
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
''.join(input_tuple)

'python'

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

In [66]:
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
names1.update(names2)
names1

{'Jack': 25, 'John': 26, 'Emily': 23, 'Carol': 28, 'Walter': 22}

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

In [79]:
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
sum(ice_cream_price.values())

#or it could be done like this:
#ice_cream_price['Chocolate'] + ice_cream_price['Strawberry'] + ice_cream_price['Vanilla'] + ice_cream_price['Caramel']

743

# 9. Remove item(s) from set. Can you guess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

In [82]:
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
a = color[0]
b = color[1]
c = color[2]

('Black', '#000000', 'rgb(0, 0, 0)')

# BONUS: test whether every element of first set is in second set and vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```

In [83]:
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
set_a == set_b

True

In [84]:
set_a == set_c

False